/* @override http://localhost:8080/css/style.css */

/* @group Colour */

a {
	padding: .25em;
	text-decoration: none;
	text-transform: uppercase;
}

nav {
	border-top: 4pt solid #444444;
	margin: 0;
	padding: 0;
}

nav ul li {
	background-color: #444444;
	color: white;
}

/* @end */

/* @group Font & text */

* {
	font-size: 14px;
	color: #444444;
	font-family: 'Source Sans Pro', san-serif;
}

h1 {
	font-size: 260%;
	font-weight: lighter;
}

nav ul li {
	text-transform: uppercase;
	text-decoration: none;
	font-variant: small-caps;
}

/* @end */

/* @group spacing */

* {
	margin: 0em;
}

section {
	padding-bottom: 3em;
	clear: both;
	min-height: 35em;
}

nav {
	margin-bottom: 1em;
	padding-right: 3em;
}

h1 {
	margin-left: 40px;
	margin-right: 40px;
	padding-bottom: 0.25em;
}

#home h1 {
	margin-top: 2em;
}

h2 {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 1em;
}

p {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 1em;
}

.highlight {
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* @group Nav */

nav ul {
	display: inline;
	margin: 0;
}

nav ul li {
	display: inline;
}

/* @end */