@CHARSET "UTF-8";


body {
  text-align:center;
  font-family: 'Gill Sans', 'Trebuchet MS', 'Tahoma', sans-serif;
  font-size: 16px;
  color: #444444;
  margin: 0;
  padding: 0;
}


#header {
    /*background:transparent url('../images/logoA.png') no-repeat;*/
    position: relative;
    top: 0;
    left: 454px;
    width:296px;
    height: 134px;
    border: none;
}



 
#content{
	width:750px;
	margin: 0 auto;
	text-align: left;
	position: relative;
/* 	border: red  solid; */

}



#pull_quote_body {
    margin-left: 15px;   
    font-size: 24px;
    line-height: 34px;
    width: 27em;
    height: 5em;
    /*border: green solid;*/
}

#pull_quote_navigation {
    font-size: 14px;    
}



/* from http://www.alistapart.com/d/multicolumnlists/example1.html# */
#learn_more ul, #get_in_touch ul
{
  width: 600px;  /* room for 2 columns */
  list-style: square;    
}

#learn_more ul li, #get_in_touch ul li
{
  float: left;
  width: 300px;  /* accommodate the widest item */
  margin-bottom: 0;
}
/* stop the floating after the list */
br
{
  clear: left;
}



#footer
{
    clear: both;
    padding-top: 6em;
    font-size: 12px;
}

#copyright {
    float:left;
}

#footerlinks {
    text-align: right;
    /*padding-right: 15em;*/
    /*    border: black solid; */
}

#footerlinks a {
    padding-right: 2em;
}



a {
    color: blueviolet;
    /*font-weight: bold;*/
    text-decoration: none;
    line-height: 20px;
    opacity: 1.00;

    
}
a:visited {
   color: purple;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Handwriting - Dakota','Arial','Gill Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
}

h2 {

    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
    color: #000000;    
}

h3 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
    color: #000000;
}

b {
    
    font-weight: bold;
}

ul
{
    list-style: square;
}

li
{
    margin-bottom: 1em; /* after each bullet point*/
}


/* For forms */

form label
{
	display: block;
	float: left;
	width: 5em;
	margin-right: 1em;
}

form fieldset
{
    border: none;
}


/* OUR WORK  */

div.our_work_summary
{
    float: left;
    height: 13em;
    width: 13em;
    background-color:#eeeeee;
    margin: 1em;
}

div.our_work_summary img
{
    border: solid black 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

div.our_work_summary p
{
    margin: 0.5em 0.5em 0.5em;
    display: block;
    text-align: center;
}



/* For images that require a border */
img.thin-border
{
    border: black solid thin;
}

/* Contact Us */

.buttons {  
    margin-top: 5px;
}

.error {
color: red;
padding-left: 15px;
}

/* Blog related */

code
{
    font-family: 'Courier New','Courier', monospace;
    font-size: 80%;
}

.sourcecode
{
    font-family: 'Courier New','Courier', monospace;
    font-size: 80%;

	margin: 10px;
    padding: 0px; 

    white-space: pre;

}